body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    font-family: monospace, sans-serif;
    text-transform: capitalize;
}

.counter-box{
    flex: 0 0 70%;
    text-align: center;
    border: 3px solid grey;
    padding: 1rem;
    font-weight: bold;
    box-shadow: 2px 2px 8px 8px black;
}

.counter{
    font-size: 6rem;
}

.btn{
    background: white;
    border-radius: 8px;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.5rem 0.25rem;
    border:3px solid grey;
    box-shadow: 0px 5px #001221;
    outline: none;
}

.btn:hover{
    background-color: lightgrey;
    color: white;
}

.btn:active{
    box-shadow: none;
}